/*
    index.css

    CSS file for the index page, all styles in this file are specific to the index page
*/
#button-description{
    text-align: center;
    padding-top: 1em;
}

#animal-picture{
    border-radius: 18px 18px 18px 18px;
    -moz-border-radius: 18px 18px 18px 18px;
    -webkit-border-radius: 18px 18px 18px 18px;
    border: 0px solid #000000;

    -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.65);
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.65);
}

#animal-zone{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#animal-description-zone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#animal-pic-zone{
    display: flex;
    justify-content: center;
}

#animal-zone > div{
    margin: 1em;
}
#nav > #home-link {
  
    background: #DF744A;
    padding-left: 10%;
    padding-right:10%;
    transition: all .3s ease;
    color: black;
    border: 1px solid black;
}

#id-saved-span{
    border: 1px solid black;
    padding: .5em;
    background: yellow;
    font-weight: bold;
    margin: 1em;
}

#id-message-container{
    display: flex;
    justify-content: center;
}

#choice-zone{
    margin-left: 2em;
    margin-top: 1em;
}